<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Mercado Liebre - Login</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__logo">
          <a href="/">
            <img
              src="/images/logo-mercado-liebre.svg"
              alt="logo de mercado liebre"
            />
          </a>
        </div>
        <div class="header__search">
          <input type="search" placeholder="Buscar productos, marcas" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div>
          <p class="header__description">
            <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y
            sin tarjeta de credito
          </p>
        </div>
      </div>
      <nav class="navbar">
        <div class="navbar__container">
          <ul class="navbar__left">
            <li type="none">
              <a href="#" class="navbar__item__link">Ofertas</a>
            </li>
            <li type="none">
              <a href="#" class="navbar__item__link">Tiendas Oficiales</a>
            </li>
            <li type="none">
              <a href="#" class="navbar__item__link">Vender</a>
            </li>
            <li type="none">
              <a href="#" class="navbar__item__link">Ayuda</a>
            </li>
          </ul>
          <ul class="navbar__right">
            <li type="none">
              <a href="register.html" class="navbar__item__link"
                >Creá tu cuenta <i class="fa-regular fa-id-card"></i
              ></a>
            </li>
            <li type="none">
              <a href="login.html" class="navbar__item__link"
                >Ingresá <i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li type="none">
              <a href="#" class="navbar__item__link"
                >Mis compras <i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <div class="container__register">
        <form action="/" class="register__form">
          <div class="form-group">
            <input
              type="text"
              name="username-login"
              placeholder="Nombre de usuario"
              minlength="2"
              required
              class="form-control"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="password-login"
              placeholder="Elegí tu contraseña"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="form-control form__btn">Enviar</button>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <div class="footer__content">
        <section>
          <div class="footer__icon">
            <i class="fa-solid fa-credit-card"></i>
          </div>
          <h4 class="footer__title">Pagá con tarjeta o en efectivo</h4>
          <p class="footer__description">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <div class="footer__icon">
            <i class="fa-solid fa-gift"></i>
          </div>
          <h4 class="footer__title">Envío gratis desde $ 2.500</h4>
          <p class="footer__description">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section>
          <div class="footer__icon">
            <i class="fa-solid fa-user-shield"></i>
          </div>
          <h4 class="footer__title">Seguridad, de principio a fin</h4>
          <p class="footer__description">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </section>
    </div>
      <section class="derechos">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
    <script
      src="https://kit.fontawesome.com/6868278fd3.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
